img {
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px black;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  background-color: white;
}

.judul-kolom {
  background-color: black;
  color: white;
}

button:hover {
  background-color: black;
  color: white;
}
